@mixin hocus {
  &:hover, &:focus {
    @content;
  }
}

/* 
Taken from https://gist.github.com/chriseppstein/0a029e581609321f6012

Usage:
 
.foo {
  @include hocus {
    color: red;
    outline: pink;
  }
}

*/
